<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!--指定将使用遗留DB2 CLI驱动程序连接到数据库，并指定可以在何处找到该驱动程序。-->
    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->
    <!--useUnicode=true&characterEncoding=UTF-8-->


    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/miaosha?useUnicode=true&amp;characterEncodeing=utf-8&amp;serverTimezone=GMT&amp;2B8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"
                        userId="root"
                        password="pass">
        </jdbcConnection>

        <!--<javaTypeResolver >-->
            <!--<property name="forceBigDecimals" value="false" />-->
        <!--</javaTypeResolver>-->

        <javaModelGenerator targetPackage="com.spj.miaosha.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="resources/mapper"  targetProject="src/main">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.spj.miaosha.dao"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table tableName="user_info" domainObjectName="UserDO" enableCountByExample="false"-->
            <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
            <!--selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"-->
            <!--enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
            <!--selectByExampleQueryId="false">-->
        <!--</table>-->
        <table tableName="product" domainObjectName="product" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

        <table tableName="invoentory_product" domainObjectName="invoentProducts" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

 <!--<table schema="DB2ADMIN" tableName="ALLTYPES" domainObjectName="Customer" >-->
            <!--<property name="useActualColumnNames" value="true"/>-->
            <!--<generatedKey column="ID" sqlStatement="DB2" identity="true" />-->
            <!--<columnOverride column="DATE_FIELD" property="startDate" />-->
            <!--<ignoreColumn column="FRED" />-->
            <!--<columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR" />-->
        <!--</table>-->

    </context>
</generatorConfiguration>
