<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spj.miaosha.dao.UserPasswordDOMapper">
  <resultMap id="BaseResultMap" type="com.spj.miaosha.dataobject.UserPasswordDO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="encrpt_password" jdbcType="VARCHAR" property="encrptPassword" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, encrpt_password, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_password
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_password
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spj.miaosha.dataobject.UserPasswordDO">
    insert into user_password (id, encrpt_password, user_id
      )
    values (#{id,jdbcType=VARCHAR}, #{encrptPassword,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spj.miaosha.dataobject.UserPasswordDO">
    insert into user_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="encrptPassword != null">
        encrpt_password,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="encrptPassword != null">
        #{encrptPassword,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spj.miaosha.dataobject.UserPasswordDO">
    update user_password
    <set>
      <if test="encrptPassword != null">
        encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spj.miaosha.dataobject.UserPasswordDO">
    update user_password
    set encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>