<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spj.miaosha.dao.ProductDOMapper">
  <resultMap id="BaseResultMap" type="com.spj.miaosha.dataobject.ProductDO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="descri" jdbcType="VARCHAR" property="descri" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="recom_rate" jdbcType="INTEGER" property="recomRate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="cales" jdbcType="INTEGER" property="cales" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productName, descri, img_url, price, recom_rate, comment, cales, inventory
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spj.miaosha.dataobject.ProductDO">
    <!--主键使用uuid生成策略-->
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into product (id, productName, descri,
      img_url, price, recom_rate, 
      comment, cales, inventory
      )
    values (#{id,jdbcType=VARCHAR}, #{productname,jdbcType=VARCHAR}, #{descri,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{recomRate,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR}, #{cales,jdbcType=INTEGER}, #{inventory,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spj.miaosha.dataobject.ProductDO">
    <!--主键使用uuid生成策略-->
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productname != null">
        productName,
      </if>
      <if test="descri != null">
        descri,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="recomRate != null">
        recom_rate,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="cales != null">
        cales,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="descri != null">
        #{descri,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="recomRate != null">
        #{recomRate,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="cales != null">
        #{cales,jdbcType=INTEGER},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spj.miaosha.dataobject.ProductDO">
    update product
    <set>
      <if test="productname != null">
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="descri != null">
        descri = #{descri,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="recomRate != null">
        recom_rate = #{recomRate,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="cales != null">
        cales = #{cales,jdbcType=INTEGER},
      </if>
      <if test="inventory != null">
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spj.miaosha.dataobject.ProductDO">
    update product
    set productName = #{productname,jdbcType=VARCHAR},
      descri = #{descri,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      recom_rate = #{recomRate,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      cales = #{cales,jdbcType=INTEGER},
      inventory = #{inventory,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectIdByName" parameterType="string" resultType="string">
    select id
    from product
    where productName = #{productName ,jdbcType=VARCHAR }
  </select>

</mapper>